<!DOCTYPE html>
<html lang="en">
  <%- include('../../layout/head') %>
  <body>
    <%- include('../../layout/header') %>
    <main>
      <aside class="left">
        <%- include('../../layout/nav') %>
      </aside>
      <section id="hero">
        <h2> Search Results</h2>
        <ul>
          <li>This is a sample item.</li>
          <%# arr.forEach(recipe => { %>  
            <li class="cards">
              <%# include('../../layout/card', {recipe: recipe}) %>
            </li>
          <%# }); %>
        </ul>
      </section>
      <aside class="right">
        <p>Right aside.</p>
        <%# include('../../layout/ads') %>
      </aside>
    </main>
    <footer>
      <%# include('../../layout/footer') %>
    </footer>
  </body>
</html>