<!DOCTYPE html>
<html lang="en">
  <%- include('../../layout/head') %>
  <body>
    <%- include('../../layout/header') %>
    <main>
      <aside class="left">
        <%- include('../../layout/nav') %>
      </aside>
      <section id="hero">
        <h2>Search For Recipes</h2>
        <form action="/results" method="POST">
          <input class="search-input" type="text" name="keyword" placeholder="Enter ingredient or recipe name" required>
          <fieldset class="search-labels">
            <h3>Dietary Restrictions</h3>
            <label for="balanced">
              <span>Balanced</span>
              <input class="checkbox" type="checkbox" name="balanced" alt="Protein/Fat/Carb values in 15/35/50 ratio">
            </label>
            <label for="high_protein">
              <span>High-Protein</span>
              <input class="checkbox" type="checkbox" name="high_protein" alt="More than 50% of total calories from proteins">
            </label>
            <label for="low_carb">
              <span>Low-Carb</span>
              <input class="checkbox" type="checkbox" name="low_carb" alt="Less than 20% of total calories from carbs">
            </label>
            <label for="low_fat">
              <span>Low-Fat</span>
              <input class="checkbox" type="checkbox" name="low_fat" alt="Less than 15% of total calories of total calories from fat">
            </label>
          </fieldset>

          <fieldset class="search-labels">
            <h3>Health</h3>
            <label for="alcohol_free">
              <span>Alcohol-Free</span>
              <input class="checkbox" type="checkbox" name="alcohol_free" alt="No alcohol used or contained">
            </label>                          
            <label for="vegan">
              <span>Vegan</span>
              <input class="checkbox" type="checkbox" name="vegan" alt="Vegan">
            </label>                          
            <label for="vegetarian">
              <span>Vegetarian</span>
              <input class="checkbox" type="checkbox" name="vegetarian" alt="Vegetarian">
            </label>                          
            <label for="sugar_conscious">
              <span>Sugar Conscious</span>
              <input class="checkbox" type="checkbox" name="sugar_conscious" alt="Sugar conscious">
            </label>                          
            <label for="peanut_free">
              <span>Peanut Free</span>
              <input class="checkbox" type="checkbox" name="peanut_free" alt="Peanut free">
            </label>                          
          </fieldset>
          <fieldset>
            <label for="calories">
              <span>Maximum Calories Per Serving</span>
              <input class="calories" type="number" name="calories" alt="Maximum calories per serving">
            </label>
          </fieldset>
          <button type="submit">Search</button>
        </form>
      </section>
      <aside>
        <%# include('./layout/ads') %>
      </aside>
    </main>
    <footer>
      <%# include('./layout/footer') %>
    </footer>
  </body>
</html>