<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head') %>
  <body>
    <%- include('../layout/header') %>
    <main>
      <%- include('../layout/nav') %>
      <section id="hero">
        <h2>About</h2>
        <ul>
          <li class="cards">
            <img src="./images/milo.jpg" alt="A picture of Milo">
            <h3>Milo Anderson</h3>
            <p>When Milo is not developing software, he enjoys reading science fiction and playing the guitar.</p>
          </li>
          <li class="cards">
            <img src="./images/jasmin.png" alt="A Picture of Jasmin">
            <h3>Jasmin Arensdorf</h3>
            <p>Jasmin is a full-stack developer. She has a BS Computer Science. She worked in the tech industry as a Business Programmer Analyst and Unix System Administrator. She performed software maintenance on a system that published training and maintenance manuals for airline pilots, customers and mechanics. For leisure she enjoys hiking and camping with her family.</p>
          </li>
          <li class="cards">
            <img src="./images/chris.jpg" alt="A picture of Chris">
            <h3>Chris Ball</h3>
            <p>Chris is a full-stack web developer with a passion for unique functionality, efficiency, and quality design. He comes from a cabinetmaking background with 6+ years of engineering experience in cabinet and furniture manufacturing. He loves solving complex problems and giving customers the product they've always dreamed of.</p>
          </li>
          <li class="cards">
            <img src="./images/tim.jpg" alt="A picture of Tim">
            <h3>Tim Schoen</h3>
            <p>Tim is a software developer. His background is in the restaurant and bar industry with 7 years of ownership experience. In his spare time, he enjoys attending sporting events and follows the Mariners with great interest.</p>
          </li>
        </ul>
      </section>
    </main>
    <%- include('../layout/footer') %>
  </body>
</html>