<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head') %>
  <body>
    <%- include('../layout/header') %>
    <main>
      <aside>
        <%- include('../layout/nav') %>
     
      <section id="hero">
        <h2> About </h2>
        <ul>
            <li class="cards">
                <img src="./images/tim.jpeg" alt="A picture of Tim">
                <h3>Tim Schoen</h3>
                <h4>Tim is a software developer, He enjoys attending sporting events, and follows the Mariners with great interest.   </h4>
            </li>
            <li class="cards">
                <img src="./images/milo.jpg" alt="A picture of Milo">
                <h3>Milo Anderson</h3>
                <h4>When Milo is not developing software, he enjoys reading science fiction and playing the guitar.</h4>
            </li>
            <li class="cards">
                <img src="" alt="A picture of Chris">
                <h3>Chris Ball</h3>
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quos beatae aut, dignissimos, facilis ducimus cum porro officiis, amet iusto dolor fugiat. Nesciunt asperiores sit laboriosam ratione in porro tempore!</h4>
            </li>
            <li class="cards">
                <img src="" alt="A Picture of Jasmin">
                <h3>Jasmin Arensdorf</h3>
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quos beatae aut, dignissimos, facilis ducimus cum porro officiis, amet iusto dolor fugiat. Nesciunt asperiores sit laboriosam ratione in porro tempore!</h4>
            </li>
        </ul>
                
     
      </section>
      <aside>
        <%# include('./layout/ads') %>
      </aside>
    </main>
    <footer>
      <%# include('./layout/footer') %>
    </footer>
  </body>
</html>