html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  display: grid;
  grid-template-rows: 10% 85% 5%;
  height: 100%;
}

main {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-row: 2;
}

header {
  grid-row: 1;
  background-color: gray;
}

aside.left {
  grid-column: 1;
  background-color: rgb(33, 33, 33);
}

#hero {
  grid-column: 2;
  background-color: aqua;
}

aside.right {
  grid-column: 3;
  background-color: rgb(103, 78, 78);
}


footer {
  grid-row: 3;
  background-color: blue;
}