
nav li {
  display: inline-block;
  margin: 7px auto;
  padding: 0 1.7em;
  font-size: 14px;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Krub', sans-serif;
}

nav a {
  color: white;
  text-decoration: none;
}
#hero > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cards {
  border: 1px solid gray;
  border-radius: 15px;
  width: 90%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgb(252, 237, 221);
  box-shadow: 4px 4px 10px rgb(146, 143, 138);
}

.cards h3, .cards h4, .cards h5, .cards .servings, .cards .calories, .cards .diets, .cards .healths {
  margin: 5px 5px 0 5px;
  font-family: 'Krub', sans-serif;
}

.cards img {
  width: 100%;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom: 1px solid gray;
}

.cards h3 {
  font-size: 20px;
  font-weight: bold;
}

.cards h4 {
  font-size: 14px;
}

.cards .servings {
  font-size: 14px;
}

.cards .calories {
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
  font-size: 14px;
}

.cards .diets {
  font-weight: bold;
  display: block;
  font-size: 0px;
  margin-bottom: 10px;
  padding-bottom: 10px
}

.cards .diets-li {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
  display: inline-block;
  margin-top: 5px;
  margin-left: 5px;
}

.cards .labels {
  font-weight: bold;
  display: block;
  text-decoration: underline;
  margin-bottom: 10px;
  font-size: 15px;
  margin: 0 auto;
}

.cards .ingredients {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  margin: 0 5px 0;
  padding-top: 12px;
  padding-bottom: 12px;
}

.cards .ingredient-li {
  font-family: 'Krub', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  list-style-type: disc;
  margin: 0 10px 0 30px;
}

.cards p {
  margin: 10px auto 0;
  font-family: 'Krub', sans-serif;
  font-size: 14px;
  padding: 0 20px 20px;
  line-height: 1.2;
  text-align: left;
}

.cards .details-button, .cards .save-button, .search-button, .directions, .cards .delete-button, .cards .save-sub {
  margin: 0 10px 10px auto;
  display: block;
  background-color: rgb(161, 150, 147);
  color: white;
  padding: 5px 10px;
  border-radius: 7px;
  font-family: 'Krub', sans-serif;
  font-size: 14px;
  border: 1px solid gray;
  font-weight: 300;
  width: 120px;
  text-decoration: none;
}

.cards .substitution {
  text-align: center;
  font-weight: 700;
  background-color: rgb(248, 214, 171);
  padding: 5px 15px;
  border-radius: 3px;
  margin: 5px auto 5px;
  width: fit-content;
}

.nutritional-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cards .nutritional-info .original {
  flex-basis: 75%;
}

.cards .original li:first-child, .cards .adjusted li:first-child {
  font-weight: bold;
}

.cards .original li:first-child span {
  min-width: 0px;
}

#allie-photo {
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  margin: auto 0;
}

.cards .adjusted {
  text-align: left;
  flex-basis: 25%;
  color: rgb(94, 138, 94);
}

.search-button {
  margin: 10px auto;
}

.delete-button {
  width: 180px;
}

.cards .delete-sub, .cards .save-sub {
  font-size: 12px;
  background-color: rgb(134, 90, 90);
  width: 150px;
  margin: 0 auto 10px;
}

.cards .sub-form {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: -.05em;
}

.cards .sub-card {
  padding: 15px 15px 5px;
  margin: 7px 14px;
  background-color: rgb(245, 236, 220);
  border: 1px solid rgb(189, 189, 189);
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgb(146, 143, 138);
}

.cards .sub-form #add-remove {
  margin: 10px auto;
}

.cards .save-sub {
  background-color: rgb(94, 138, 94);
  margin-top: 10px;
}

.cards > .labels {
  margin: 0 5px;
  padding-top: 10px;
  border-top: 1px solid gray;
  text-align: center;
  font-size: 15px;
}

.cards .saved {
  background-color: green;
}

.search-labels .selected {
  background-color: rgb(141, 117, 66);
  color: white;
}

button:hover {
  background-color: rgb(131, 127, 121);
}
