@media (min-width: 600px) {  /*i Pad view */
  .cards {
    max-width: 45%;
  }

  main {
    min-height: 1000px;
  }

  #hero > h2 {
    font-size: 32px;
    padding-top: 22px;
    padding-bottom: 8px;
  }
}


@media (min-width: 960px) {  /* desktop view */
  main {
    min-height: 900px;
  }

  header h1 {
    font-size: 36px;
  }

  header h4 {
    font-size: 22px;
  }

  #allie-photo {
    height: 40px;
    width: 40px;
    border-radius: 20px;
  }
  
  nav {
    top: 55px;

  }
  #hero {
    padding-top: 110px;
  }
  nav li {
    margin: 13px auto;
    font-size: 22px;
  }

  #hero > h2 {
    font-size: 38px;
    padding-top: 30px;
    padding-bottom: 15px;
  }

  #hero > ul {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
  }

  .cards {
    max-width: 300px;
  }

  .one-recipe {
    max-width: 35%;
    overflow: hidden;
  }
}

@media (min-height: 1300px) {  /*i Pad Pro view */
  main {
    min-height: 1250px;
  }
}