<footer>
  <section id="edamam-badge" data-color="white"></section>
  <section><img id="nutritionix-badge" src="/images/NutritionixAPI_hires_flat.png" alt=""></section>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="../scripts/app.js"></script>