<head>
  <title>App Name Here</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <link rel="stylesheet" href="../../public/styles/reset.css">
  <link rel="stylesheet" href="../../public/styles/base.css">
  <link rel="stylesheet" href="../../public/styles/layout.css">
  <link rel="stylesheet" href="../../public/styles/modules.css">
</head>